body, html {
	background-image: url(album/Purty-Wood-Patterns.jpg);
}

.contFoto {
	display: inline-block;
}

.thumb {
	text-align: center;
}

#contenedor {
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-family: arial;
	font-size: 35px;
	color: maroon;
}

h3 {
	font-family: arial;
	font-size: 15px;
	color: maroon;
}



.thumb img {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=5);
	box-shadow: 10px 10px 5px #888;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
}

.thumb img:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=1);
}

#etiqueta {
	color: maroon;
	background: transparent;
	font-size: 16px;
	font-family: arial;
	height: 35px;
}

#foto {
	margin: 0 auto;
	width: 800px;
	height: 600px;
	box-shadow: 10px 10px 5px #888;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
}